
<div class="container pt-5">



  <form [formGroup]="personForm">
    <div class="d-flex">
      <div class="form-group">
        <input class="form-control" formControlName="personName"    placeholder="personName">
      </div>
      <div class="form-group pl-3">
        <input class="form-control" formControlName="email"    placeholder="Email">
      </div>
    </div>

    <div class="d-flex pt-2">
      <div class="form-group">
        <input class="form-control" formControlName="mobile1"    placeholder="Mobile1">
      </div>
      <div class="form-group pl-3">
        <input class="form-control" formControlName="mobile2"    placeholder="Mobile2">
      </div>
    </div>

    <div class="d-flex pt-2">
      <div class="form-group">
        <input class="form-control" formControlName="voterId"    placeholder="Voter No.">
      </div>
      <div class="form-group pl-3">
        <input class="form-control" formControlName="aadharId"    placeholder="Aadhar No.">
      </div>
    </div>
  </form>

  <div class="d-flex pt-2">
    <form [formGroup]="userForm">
      <div class="form-group">
        <select class="selectpicker" class="form-control" formControlName="areaId" data-style="btn-primary" data-live-search="true" style="min-width: 200px; min-height: 40px;">
          <option  data-tokens="mustard"  *ngFor="let area of areas">{{area.area_name}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="pt-4"><button type="submit" class="btn btn-primary">Submit</button></div>

  <!-- <pre>{{personForm.value | json}}</pre>
    <pre>{{userForm.value | json}}</pre> -->
  <!-- <button (change)="getAllArea()">test</button> -->






</div>
