
<div class="container">


  <form [formGroup]="legislativeInputForm" >

    <div >
      <div class>
        <mat-form-field>
          <label>Person Name</label>
          <input formControlName="personName"    placeholder="Category">
        </mat-form-field>
        <mat-form-field>
          <label>Email</label>
          <input formControlName="email"    placeholder="Category">
        </mat-form-field>
        <mat-form-field>
          <label>Area</label>
          <!-- <mat-select  formControlName="areaName" placeholder="Area"> -->
            <!-- <mat-option> -->
              
              <!-- {{time.endTime}} -->
            <!-- </mat-option> -->
          <!-- </mat-select> -->
          <button (change)="getAllArea()">test</button>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <label>Mobile 1</label>
          <input formControlName="mobile1"  placeholder="Category">
        </mat-form-field>
        <mat-form-field>
          <label>Mobile 2</label>
          <input formControlName="mobile1"    placeholder="Category">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <label>Voter No.</label>
          <input formControlName="voterId"    placeholder="Category">
        </mat-form-field>
        <mat-form-field>
          <label>Aadhar No.</label>
          <input formControlName="aaharId"    placeholder="Category">
        </mat-form-field>
      </div>
    </div>






    <!-- <mat-form-field class="col-2">
      <mat-label>Draw time</mat-label>
      <mat-input  formControlName="personName" placeholder="Category"> -->
      <!-- </mat-select> -->
    <!-- </mat-form-field> -->

    <!-- <button class="button" type="submit">Purchase</button> -->

  </form>
</div>
