
<div>test</div>


<form [formGroup]="legislativeInputForm" >

  <mat-form-field>
    <mat-label>Person Name</mat-label> 
    <mat-select  formControlName="personName" placeholder="Category">
      
    </mat-select>
 
      
  </mat-form-field>


  <!-- <mat-form-field class="col-2">
    <mat-label>Draw time</mat-label>
    <mat-input  formControlName="personName" placeholder="Category"> -->      
    <!-- </mat-select> -->
  <!-- </mat-form-field> -->

  <!-- <button class="button" type="submit">Purchase</button> -->

</form>
