<div class="container" style="width: 2000px; height: 700px;background-size: cover;">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <img src="assets/map-meghalaya-map.jpg" class="img-fluid">
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 col-4 bd-highlight">
        <img src="assets/map-meghalaya-legend.jpg" class="img-fluid">
      </div>
      <div class="p-2 bd-highlight">
        <p-cascadeSelect [(ngModel)]="selectedCity1" [options]="allStates" optionLabel="assemblyName" optionGroupLabel="name"
                         [optionGroupChildren]="['districts', 'assemblies']" [style]="{'minWidth': '14rem'}" (onChange)="onAssemblySelect($event.value)">

        </p-cascadeSelect>
      </div>
    </div>
  </div>

<!--  <div class="row">-->
<!--    <ng-template #content let-modal>-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Modal title</h4>-->
<!--        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>One fine body&hellip;</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button>-->
<!--  </div>-->

</div>


<div class="row" *ngIf="true"><pre>{{selectedCity1 | json}}</pre>
<!--  <div class="col"><pre>assemblies = {{assembliesForDistrict1 | json}}</pre></div>-->
</div>
